*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "微软雅黑";
    outline: none;
    font-weight: normal;
}
body{
    width: 100%;
    height:100%;
    overflow: hidden;
}
@keyframes mymove
{
	from {width: 0;}
	to {width: 100%;}
}

@-webkit-keyframes mymove
{
	from {width: 0;}
	to {width: 100%;}
}
@-moz-keyframes mymove
{
	from {width: 0;}
	to {width: 100%;}
}
@-o-keyframes mymove
{
	from {width: 0;}
	to {width: 100%;}
}
@font-face
{
	font-family: myFirstFont;
	src: url(../assets/font.ttf)
}
.bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/bg.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.top{
    width: 100%;
    height: 7.4vh;
    text-align: center;
    padding: 0 2.08vw;
    box-sizing: border-box;
}
.top h1{
	line-height: 7.4vh;
	float: left;
	font-size: 3vh;
	background: linear-gradient(to right, #10DDD0, #608EDC);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
}
.top .time{
	font-family: myFirstFont;
}
.top p{
	line-height: 7.4vh;
	float: right;
	font-size: 1.8vh;
	background: linear-gradient(to right, #10DDD0, #608EDC);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
}
.box{
	width: 100%;
    height: 92.6vh;
}
.box li{
	padding: 1.85vh 0 0 2.08vw;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	opacity:0;
	position: absolute;
}
.box .current{
	display:block;
    opacity:1;
}
/************ 第一屏 ***************/
.rowNum{
	height: 26.5vh;
	width: 100%;
}
.borderBox{
	background: url(../assets/item2.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    float: left;
    box-sizing: border-box;
    padding: 2.5vh 1.5vw;
}
.wldd{
	width: 36.458vw;
	margin-right: 1.04vw;
	height: 100%;
}
.smdd{
	width: 58.448vw;
	height: 100%;
	padding-left: 2vw;
}
.titleNum{
	border-left: 8px solid #10DDD0;
	font-size: 1.8vh;
	color: #0099FF;
	padding-left: 0.52vw;
	margin-bottom: 1.5vh;
}
.cellNum{
	width: 33.3%;
	float: left;
}
.cellNum h6{
	font-size: 1.8vh;
	color: #0099FF;
	margin-top: 1.5vh;
}
.cellNum p{
	font-size: 3.88vh;
	color: #10DDD0;
	margin-top: 1.5vh;
	font-family: myFirstFont;
}
.cellNum span{
	font-size: 2.5vh;
}
.cellCXBox div{
	float: left;
	width: 43%;
}
.cellCai p .icon{
	display: inline-block;
	width: 1.2vw;
	height: 1.4vw;
	background: url(../assets/icon_cai.png) no-repeat;
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-right: 0.1vw;
}
.cellXiao p{
	color: #0099FF;
}
.cellXiao p .icon{
	display: inline-block;
	width: 1.2vw;
	height: 1.4vw;
	background: url(../assets/icon_xiao.png) no-repeat;
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-right: 0.1vw;
}
.rowTab{
	height: 29.5vh;
	width: 100%;
	margin-top: 1.85vh;
}
.borderBox1{
	background: url(../assets/item1.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    float: left;
    width: 23.177vw;
	margin-right: 1.04vw;
	height: 100%;
}
.titleTab{
	border-left: 8px solid #10DDD0;
	font-size: 1.8vh;
	color: #0099FF;
	padding-left: 0.52vw;
	margin: 1.5vh 0 1vh 1.5vw;
}
.borderBox1 .tabList{
	width: 100%;
	padding: 2%;
	height: 23.5vh;
	box-sizing: border-box;
	position: relative;
}
.borderBox1 .table{
	height: 100%;
	width: 100%;
	position: absolute;
}
.barBox{
	width: 20vw;
	margin-left: 1.5vw;
	box-sizing: border-box;
	height: 24vh;
}
.barBox .barCell{
	height: 1.5vh;
	margin-bottom: 0.9vh;
}
.barBox .barCell .barLeft{
	float: left;
	width: 15%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #0099FF;
	font-size: 0.6vw;
	text-align: right;
	padding-right: 5%;
	
}
.barBox .barCell .barRight{
	float: left;
	width: 15%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #0099FF;
	font-size: 0.6vw;
	text-align: right;
}
.barBox .barCell .barBg{
	float: left;
	width: 65%;
	height: 100%;
	background: rgba(0,153,255,0.3);
	border-radius: 0 10px 10px 0;
	position: relative;
}
.barBox .barCell .barShow{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
}
.barBox .barCell .trans{
	height: 100%;
	background: rgba(10, 10, 172, 0.2);
	box-shadow: inset 0 0 9px 2px #0099FF;
	border-radius: 0 10px 10px 0;
	animation:mymove 2s;
	-webkit-animation:mymove 2s;
	-moz-animation:mymove 2s;
    -o-animation:mymove 2s;
}

/************ 第二屏 ***************/
.zysr{
	width: 95.95vw;
	height: 100%;
}
.cellNum1{
	width: 33.3%;
	float: left;
	padding-left: 1.04vw;
	height: 85%;
	padding-top: 1.5vh;
	box-sizing: border-box;
}
.zysr .titleNum1{
	margin-left: 1.04vw;
}
.cellNum1 .cellTitle{
	float: left;
	width: 40%;
	margin-right: 1.04vw;
	height: 100%;
}
.cellNum1 .cellTitle h6{
	font-size: 2.5vh;
	color: #0099FF;
}
.cellNum1 .cellTitle p{
	font-size: 3.88vh;
	color: #10DDD0;
	margin-top: 6vh;
	font-family: myFirstFont;
}
.cellNum1 .cellTitle span{
	font-size: 2.5vh;
}
.cellNum1 .cellText{
	float: left;
	width: 50%;
	height: 100%;
}
.cellNum1 .cellText p{
	height: 33.3%;
	color: #0099FF;
}
.fn-hide{
	visibility: hidden;
}
.cellNum1 .cellText .cellText1{
}
.cellNum1 .cellText .cellText2{
	color: #10DDD0;
	margin-left: 2.08vw;
}

/************ 第7屏 ***************/
.map{
	position: absolute;
	width: 90%;
	height: 85%;
}
.sevenBox1{
	position: absolute;
	top: 1.85vh;
	left: 2.08vw;
}
.mapNum h6{
	font-size: 1.8vh;
	color: #0099FF;
	margin-top: 1.5vh;
}
.mapNum span{
	font-size: 3.88vh;
	color: #10DDD0;
	margin-top: 1.5vh;
	font-family: myFirstFont;
	margin-left: 1.04vw;
}
.mapNum .unit{
	font-size: 2.5vh;
	margin-left: 0;
	font-family: "微软雅黑";
}
.sevenBox2{
	position: absolute;
	bottom: 10vh;
	left: 2.08vw;
	padding-bottom: 1.04vh;
}
.sevenBox3{
	position: absolute;
	top: 1.85vh;
	right: 2.08vw;
	padding-bottom: 1.04vh;
}
.sevenBox4{
	position: absolute;
	bottom: 10vh;
	right: 2.08vw;
}
.borderBox2{
	background: url(../assets/item1.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 23.177vw;
	margin-right: 1.04vw;
	height: 100%;
	padding-bottom: 1vh;
	float: left;
}
.borderBox3{
	background: url(../assets/item2.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 30vw;
	margin-right: 1.04vw;
	height: 100%;
	padding-bottom: 1vh;
	float: left;
}
.borderBox3 .table{
    padding: 1.04vh 0.4vw 1.04vh 2.08vw;
    overflow:hidden;
}
.borderBox3 .table table{
    border-collapse:collapse;
    table-layout: fixed;
    width:100%;
    border-width: 0;
}
.borderBox3 .table tbody{
	height: 20vh;
	overflow: hidden;
}
.borderBox3 .table table tr{
	height: 4vh;
}
.borderBox3 .table table th{
    font-size: 1.6vh;
    text-align: left;
    color: #0099ff;
    border-width: 0;
}

.table table td{
    font-size: 1.6vh;
    text-align: left;
    color: #0099ff;
    border-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5vw;
}
.table table tr{
    border-width: 0;
}
.circle{
    display: inline-block;
    position: relative;
    top: 3px;
    height: 1.6vh;
    width: 1.6vh;
    margin-right: 0.3vw;
    border-radius: 50%;
    background-color: #5d91dc;
}